*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/**********
* HEADER
**********/

.header {
    background-image: url(/css/fundo.png);
    text-align: center;
    height: 400px;
    top: 40px;
    left: 0px;
    color: white;
}

.header h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

.header h1 {
    margin-bottom: 20px;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
    
}

.header ul li button {  
    color: #888888;
    text-align: center;
    margin-right: 50px; 
    top: 5px;
    left: 5px;
    width: 160px;
    height: 40px;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
}

/**********
* SECTION
**********/

.firstSection {
    display: flex;
    margin: 0 290px;
    font-size: 12px;
}

.article {
    padding-right: 10px;
    color: #888888;
    width: 60%;
}

.formCadastro {
    padding-left: 10px;
    color: #888888;
    width: 40%;
}

.formCadastro .inputText {
    width: 340px;
    height: 30px;
}

.formCadastro .divButton {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.formCadastro .divButton button {
    width: 340px;
    height: 30px;
    color: #888888;
}


.formCadastro .divInput {
    display: flex;
    flex-direction: column;
}

/************
* CHECKMARK
*************/

.divInputCheck .checkbox {
    width: 18px;
    border-radius: 10px 10px 10px 10px;
}

.container {
    padding-right: 20px;
    padding-left: 3px;
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 15px 15px;
}


.container:hover input ~ .checkmark {
    background-color: #888888;
}

.container input:checked ~ .checkmark {
    background-color: blue;
}

/************
* FORMULARIO
*************/


.inputError {
    border: 1px solid red;
  }

  .erro {
    color: red;
  }