*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/**********
* HEADER
**********/

.header {
    background-image: url(/css/fundo.png);
    text-align: center;
    height: 400px;
    top: 40px;
    left: 0px;
    color: white;
}

.header h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

.header h1 {
    margin-bottom: 20px;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
    
}

.header ul li button {  
    color: #888888;
    text-align: center;
    margin-right: 50px; 
    top: 5px;
    left: 5px;
    width: 160px;
    height: 40px;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
}

/**********
* SECTION
**********/

.firstSection {
    display: flex;
    margin: 0 290px;
    font-size: 12px;
}

.article {
    color: #888888;
    width: 60%;
}

.form {
    color: #888888;
    width: 40%;
}

.form .inputText {
    width: 340px;
    height: 30px;
}

.form .divButton button {
    width: 340px;
    height: 30px;
    color: #888888;
}

#checkbox1 {
    border-radius: 5px 5px 5px 5px;
    
}

#checkbox2 {
    border-radius: 50px 50px 50px 50px;
    
}

.divInput {
    display: flex;
    flex-direction: column;
}

.divButton {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}
