*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.header {
    position: relative;
    text-align: center;
    margin-top: 40px;
}

.header h4 {
    margin-bottom: 5px;
}

.header h2 {
    margin-bottom: 20px;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 50px;
    
}

.header ul li button {  
    margin-right: 50px; 
    top: 5px;
    left: 5px;
    width: 160px;
    height: 35px;
}